<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ovation RFP App" />
  </appSettings>
  <!--<configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>-->
  <!-- connection strings -->
  <connectionStrings>
    <clear />
    <add name="ApplicationServices" connectionString="data source=NYC-HQSQL-08; Initial Catalog=aspnetdb; User Id=OvationClient; Password=OvationClient-sql-08; MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <!--<add name="OvationBetaDB" connectionString="data source=Ovation; Initial Catalog=BetaOvation4; User Id=OvationClient; Password=OvationClient-sql-08; MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />-->
    <add name="OvationBetaDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Ovation.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- connection strings -->
  <!-- SMTP settings -->
  <system.net>
    <mailSettings>
      <smtp from="acolin@ovationtravel.com" deliveryMethod="Network">
        <network host="nyc-hqxch-01.ovation.loc" port="25" userName="ttrapp@ovationtravel.com" password="badboy" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- SMTP settings -->
  <system.web>
    <!-- membership -->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Ovation RFP App" passwordFormat="Clear"/>
      </providers>
    </membership>
    <!-- membership -->
    <!-- membership - Roles -->
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" connectionStringName="ApplicationServices" applicationName="Ovation RFP App" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <!-- membership - Roles -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Telerik.Web.UI, Version=2013.1.403.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate"/>
    <!--<machineKey validationKey="982E77F4EEF818751550720393C741F54BFA27C6A12B996B691766F7AFE67C1477DADB32313AC0891F611B52FF8F15ADA6551B5688DF68BE6E53F353CE47D679" decryptionKey="E6269C2B5C7537190C5D8BD707090360C98B162D8C30EAFC29EF02B5ED0FDF34" validation="SHA1" decryption="AES"/>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows" />-->
    <!-- Forms Aunthentication section-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/login.aspx" name=".ASPXAUTH" protection="All" cookieless="AutoDetect" defaultUrl="hotelchoice.aspx" timeout="320" slidingExpiration="true"/>
    </authentication>-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="360" cookieless="UseCookies" defaultUrl="~/LoggedInHomePage/Home" />
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>-->
    <!-- Forms Aunthentication section-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
            
            -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="500" redirect="NoAccess.htm"/>
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <httpRuntime requestValidationMode="2.0" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <!--<httpModules>
      <add	type="QueryStringModule" name="QueryStringModule"	/>
    </httpModules	>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <!-- template on how to do this <add tagPrefix="ControlVendor" assembly="ControlVendorAssembly"/>-->
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add tagPrefix="uc1" src="~/OvationControls/OvationRFPHeader.ascx" tagName="OvationRFPHeader"/>
        <add tagPrefix="uc2" src="~/OvationControls/OvationRFPBottom.ascx" tagName="OvationRFPBottom"/>
        <add tagPrefix="uc3" src="~/OvationControls/OvationRFPMetatags.ascx" tagName="OvationRFPMetatags"/>
        <add tagPrefix="uc4" src="~/OvationControls/OvationCommonCSSJscript.ascx" tagName="OvationCommonCSSJscript"/>
        <add tagPrefix="uc5" src="~/OvationControls/OvationRFPGlobalScrptMgr.ascx" tagName="OvationRFPGlobalScrptMgr"/>
        <add tagPrefix="cc1" namespace="CountryStateDropdown" assembly="CountryStateDropdown"/>
        <add tagPrefix="cc2" namespace="Manitra.DynamicControl" assembly="Manitra.DynamicControl"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="splash.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.data/>
</configuration>